main{
    h1{
        color: var(--text_color_h1);
        font-weight: normal;
    }
    h2{
        color: var(--text_color_h1);
        font-weight: normal;
    }
    b{
        color: var(--text_color_bold);
    }
    p{
        color: var(--text_color_p);
        font-weight: normal;
        font-size: 1.1rem;
    }
    a{
        color: var(--text_color_main_1);
        font-weight: bolder;
    }

    .section{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;

        &:last-child{
            margin-top: 1rem;
        }
    }

    .entreprise{
        padding: 1rem;
        border: 0.05rem solid rgba(0, 0, 0, 0.29);
        background: rgb(241, 241, 241);

        > div{
            display: flex;
            gap: 1rem;

            div{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        summary{
            color: var(--text_color_bold);
            cursor: pointer;
            font-family: Bahnschrift;
            font-weight: normal;
            font-size: x-large;
        }

        img{
            border-radius: 10rem;
            max-width: 10rem;
        }
    }
}

