main{
    h1{
        color: var(--text_color_h1);
        font-weight: normal;
    }
    h2{
        color: var(--text_color_h1);
        font-weight: normal;
    }
    b{
        color: var(--text_color_bold);
    }
    p{
        color: var(--text_color_p);
        font-weight: normal;
        font-size: 1.1rem;
    }
    a{
        color: var(--text_color_main_1);
        font-weight: bolder;
    }

    .section{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;

        &:last-child{
            margin-top: 1rem;
        }
    }

    #parcours{
        summary{
            font-size: x-large;
            font-weight: lighter;
            font-family: Bahnschrift;
        }
    }

    .section-image{
        display: flex;
        gap: 5rem;

        >div:first-child{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color_section_image);
            img{
                width: 60%;
            }
        }
        >div:last-child{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

